html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.dark-mode {
  background-color: rgb(255, 255, 255);
  color: #000;
  filter: invert(1);
}
.dark-mode img {
  filter: invert(1);
}

.box {
  width: 200px;
  height: 200px;
  border: thin solid #000;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 3rem;
}

.shadows {
  /* box-shadow: mov-x, mov-y, blur-radius, spread-blur, color, inset/ouset*/
  /* text-shadow: mov-x, mov-y, blur-radius, color,; */
  box-shadow: 1rem 1rem 2rem 0rem #0007;
  text-shadow: 0.5rem 0.5rem 0.5rem #000000;
}

.shadows-multiples {
  box-shadow: 1rem 1rem 2rem 0rem #0007, -1rem 1rem 2rem 0rem #e0040477;
  text-shadow: 0.5rem 0.5rem 0.5rem #000000, -0.5rem -0.5rem 0.5rem #0be05d;
}

.drop-shadows {
  width: 600px;
  height: auto;
}
.drop-shadows img {
  /* filter: drop-shadow(mov-x mov-y blur-radius color); */
  filter: drop-shadow(1rem 1rem 0.8rem #ff6600);
  max-width: 100%;
}

.linear-gradient {
  /* background-color: #4158d0; */
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-image: linear-gradient(0deg, red 33%, blue 34% 66%, yellow 67%);
}

.radial-gradient {
  background-image: radial-gradient(circle 8rem, cyan 33%, magenta 60%, yellow);
  background-image: radial-gradient(circle 6rem, red 50%, white 51%);
}

.conic-gradient {
  background-image: conic-gradient(red, green, blue);
  background-image: conic-gradient(
    from 90deg,
    red 0deg 120deg,
    white 120deg 240deg,
    blue 240deg
  );
}

.repeat-linear-gradient {
  background-image: repeating-linear-gradient(
    red 0 10px,
    green 10px 20px,
    blue 20px 30px
  );
  background-image: repeating-linear-gradient(
    90deg,
    red 0 10px,
    green 10px 20px,
    blue 20px 30px
  );
}
.repeat-radial-gradient {
  background-image: repeating-radial-gradient(
    circle 4rem,
    cyan,
    magenta,
    yellow
  );
}

.repeat-conic-gradient {
  background-image: repeating-conic-gradient(
    red 0 8%,
    yellow 8% 16%,
    black 16% 24%
  );
}

.chart-gradient {
  background-image: conic-gradient(cyan 0% 50%, magenta 50% 80%, yellow 80%);
  border-radius: 50%;
}

.donut-gradient {
  background-image: radial-gradient(white 40%, black 41%, transparent 42%),
    conic-gradient(cyan 0% 50%, magenta 50% 80%, yellow 80%);
  border-radius: 50%;
}
.card {
  width: 600px;
  height: 400px;
  border: thin solid #000;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 3rem;
  border: thin solid #000;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
}

.filter {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;

  /*filtros*/

  /* filter: blur(1.25rem);
  filter: blur(1rem);
  filter: blur(0.15rem);
  filter: brightness(1);
  filter: brightness(0.75);
  filter: contrast(0.25);
  filter: grayscale(1);
  filter: sepia();
  filter: hue-rotate(90deg);
  filter: saturate(4);
  filter: opacity(0.5); */
  filter: invert(1);
}

.filters {
  filter: blur(0.15rem), hue-rotate(270deg), opacity(0.75), invert(1);
}

.relative {
  position: relative;
}
.backdrop-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.backdrop-filter h4 {
  font-size: 3rem;
  padding: 2rem;
  border-radius: 1rem;
  color: #fff;
  background-color: rgba(255, 102, 255, 0.5);
  /* backdrop-filter: grayscale(1);
  backdrop-filter: sepia(1);
  backdrop-filter: opacity(1);
  backdrop-filter: hue-rotate(100deg);
  backdrop-filter: blur(100); */
  backdrop-filter: blur(1rem), opacity(1), invert(1);
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}
/*modos de miezcla */
.blend-modes img {
  /* mix-blend-mode: normal;
  mix-blend-mode: color;
  mix-blend-mode: color-dodge;
  mix-blend-mode: color-burn;
  mix-blend-mode: screen;
  mix-blend-mode: saturation;
  mix-blend-mode: luminosity;
  mix-blend-mode: hue;
  mix-blend-mode: exclusion;
  mix-blend-mode: difference;
  mix-blend-mode: hard-light; */
  mix-blend-mode: soft-light;
}

.bg-blend-modes {
  background-image: url("../assets/img/cielo.png"),
    url("../assets/img/aves.png");

  background-size: cover;
  /* background-blend-mode: screen;
  background-blend-mode: multiply;
  background-blend-mode: hard-light; */
  background-blend-mode: soft-light;
}

.clip-path {
  /* clip-path: circle(2rem);
  clip-path: circle(100px);
  clip-path: circle(100px at top);
  clip-path: circle(100px at top right);
  clip-path: circle(100px at 30% 20%);
  clip-path: circle();
  clip-path: ellipse(1rem 2rem);
  clip-path: ellipse(100px 50px);
  clip-path: ellipse(50px 100px);
  clip-path: ellipse();
  clip-path: inset(4rem 3rem 1rem 0);
  clip-path: inset(1rem round 1rem);
  clip-path: inset(1rem round 4rem 3rem 1rem 0); */
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.shapes {
  border: thick solid #000;
  padding: 1rem;
  margin: 0 auto 5rem;
  max-width: 800px;
}

.shapes img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 0 50%;
  font-size: 1.25rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.shape-1 {
  margin: 4rem 2rem 4rem;
  shape-outside: circle();
}

.shape-2 {
  margin: 4rem 0 4rem 2rem;
  shape-outside: circle();
}
.shape-3 {
  margin: 4rem 2rem 4rem;
  shape-outside: circle();
}
