html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  background-color: #333;
  height: 30vh;
  width: 100%;
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.items {
  background-color: #666;
  color: #fff;
  border: thin solid gray;
  width: 100px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  flex: 0 1 auto;
  order: 0;
  align-self: stretch;
}

.items:nth-child(2) {
  /* flex-grow: 4; */
  /* flex-shrink: 3; */
  order: 1;
}
.items:nth-child(3) {
  /* flex-grow: 4; */
  /* flex-shrink: 3; */
  order: 1;
  align-self: center;
}
