/*propiedades de texto y fuentes

font-display
auto
block
swap
fallback
optional

*/

html {
  font-family: sans-serif;
}

.font {
  font-family: sans-serif;

  font: 32px;
  font-weight: 600;
  font-style: oblique;
  font-variant: small-caps;
  line-height: 1;
  font: italic small-caps bold 24px 1.5 monospace;
}
/*formato woff o woff2*/

@font-face {
  font-family: "bebas";
  src: url("../assets/Fonts/Bebas/Bebas-Regular.woff") format("woff");
  font-display: swap;
}

.bebas {
  font-family: "bebas", sans-serif;
  font-size: 2rem;
}
/*google fonts*/
.google-fonts {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

/**estilos de texto*/
.text {
  background-color: bisque;
  border: thin solid black;
  width: 50%;
  padding: 1rem;
  font-size: 2rem;
  text-align: left;
  text-decoration: none;
  text-indent: 2rem;
  text-transform: lowercase;
  text-transform: uppercase;
  text-transform: none;
  letter-spacing: 0.5rem;
  writing-mode: horizontal-tb;
  writing-mode: vertical-lr;
}

.word-style {
  background-color: beige;
  width: 50%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  word-break: break-all; /*rompe palabras*/
  word-spacing: 1rem;
}
.text-overflow {
  background-color: bisque;
  border: thin solid black;
  width: 50%;
  padding: 1rem;
  font-size: 2rem;
  text-align: justify;
  text-decoration: none;
  text-indent: 2rem;
  /*para que funcione text-overflow*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /*----*/
}

.white-space {
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
  font-size: 0.9rem;
  background-color: #272525;
  width: 50%;
  margin: auto;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  border: thin solid blanchedalmond;
}

/*iconos tipografias*/

/*google*/
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

i {
  font-size: 3rem;
  color: red;
}
