img {
  max-width: 100%;
  height: auto;
}

.card {
  border: medium solid black;
  width: 400px;
  height: 400px;
}

.card img {
  background-color: antiquewhite;
  height: 300px;
  object-fit: fill; /*valor por defecto*/
  object-fit: cover;
  object-fit: none;
  object-fit: contain;
  object-fit: contain;
  object-position: left center;
  object-position: 40px center;
  object-position: 50% 50%;
}
